#header {
    background-color: #0d6efd;
}

caption {
    background-color: #0d6efd !important;
}

#branding {
    color: #f8f9fa;;
}

#user-tools {
    color: #f8f9fa;
    font-family: Arial;
    font-size: 13px;
}

#admin-site-title {
    color: #f8f9fa;
    font-weight: 700;
}

div.breadcrumbs {
    background-color: #102268;
    color: #f8f9fa;
    font-family: Arial;
}

input[type="submit"], input[type="button"], .submit-row input {
    width: 100%;
    background-color: #0d6efd;
}

.login #content, #footer {
    background-color: #545454;
}

/* Resize logo trong phần branding của Django admin */
/* === ADMIN LOGO === */
#header {
  height: auto !important;
  padding: 16px 20px !important;
}

#branding {
  height: auto !important;
  line-height: normal !important;
}

#head {
  display: flex !important;
  align-items: center !important;
  gap: 14px !important;
}

#branding img {
  width: 80px !important;   /* 👈 chỉnh size admin ở đây */
  height: 80px !important;
  max-width: none !important;
  max-height: none !important;
  object-fit: contain;
}
