body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    color: #3e4486
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  #sidebarMenu {
    background-color: #9fc2f2 !important; /* nền xám xanh nhạt */
    border-right: 1px solid #4589c1;
}
#sidebarMenu .nav-link {
    color: #2563EB !important;   /* xanh giống Overview */
}
#sidebarMenu .sidebar-heading {
    color:  #334155 !important;          /* xanh xám dịu */
    font-weight: 1000;
    letter-spacing: 0.08em;
}
main {
    background-color: #ffffff !important;
}

nav.navbar.bg-dark {
    background-color: #cee1fa !important;  /* màu bạn muốn */
}
.pagination .page-link {
    background-color: #E0F2FE;   /* xanh nhạt */
    border-color: #60A5FA;
    color: #1D4ED8;
}
.pagination .page-link:hover {
    background-color: #BFDBFE;   /* xanh đậm hơn */
    border-color: #3B82F6;
    color: #1D4ED8;
}
.pagination .page-item.active .page-link {
    background-color: #2563EB !important;   /* xanh dương đậm */
    border-color: #2563EB;
    color: #ffffff;
}
/* FIX nền cho trang đang active (span ở giữa) */
.pagination .page-link.disabled {
    background-color: #2563EB !important;   /* xanh dương đậm */
    border-color: #2563EB !important;
    color: #ffffff !important;
    opacity: 1 !important;                  /* bỏ mờ */
    pointer-events: none;
